@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
body{
  margin:0px;
  padding: 0px;
  
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
}
input{
  outline: none;
  border: none;
}
.logo img{
  width: 150px;
}
#main{

  width:100%;
  height:768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/background.png');
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
left: 0;
top: 0;
width:100%;
z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
nav.active{
box-shadow: 5px 10px 30px rgba(0, 247, 255, 0.157);
background-color: #ffffff;
}
nav ul{
display: flex;
}
.active{
  background-color: #00b7ff;
  color:#ffffff;
box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
transition: all ease 0.2s;
}
nav ul li a{
  font-family: calibri;
height:40px;
line-height: 43px;
margin: 3px;
padding: 0px 22px;
display: flex;
font-size: 0.9rem;
text-transform: uppercase;
font-weight: 500;
color:#000000;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover{
background-color: #fff700;
  color:#f44e4e;
  box-shadow: 5px 10px 30px rgba(199, 163, 42, 0.336);
transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
  display:none;
}
.name{
font-family: 'Montserrat';
width: 500px;
position: absolute;
  left: 22%;
top: 50%;
transform: translate(-22%,-50%);
}
.name span{
  color: #00b7ff;
}
.name .details{
  color: #515050;
}
.name h1{
font-family:'Montserrat';
font-size: 40px;
margin:0px;
letter-spacing: 2px;
color:#000000;
}
.header-btns{
  display: flex;
  margin-top: 40px;
}
.cv-btn{
width:225px;
height: 40px;
display: flex;
justify-content: center;
  align-items: center;
  background-color: #00b7ff;
  box-shadow: 5px 10px 30px rgba(199, 163, 42, 0.336);
  border-radius: 20px;
color:#ffffff;
}
.cv-btn:hover{
background-color: #fff700;
  transition: all ease 0.5s;
  color: #f44e4e;
}

.f-heading h1{
  color:#FFFFFF;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;

}
.f-heading p{
  color:rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.f-heading{
  text-align: center;
  margin-top: 60px;
  margin-bottom: -80px;
}

@media(max-width:1100px){.menu-icon{
  display:block;}
      nav{
          justify-content: space-between;
          height: 65px;
          padding: 0px 30px;
      }
      .logo img{
          width:70px;
      }
      .header-btns{
          margin: 0;
      }
      .menu{
          display:none;
          position:absolute;
          top:65px;
          left:0px;
          background-color:#FFFFFF;
          border-bottom:4px solid #1db096;
          width:100%;
          padding:0px;
          margin:0px;
      }
      .menu li{
          width:100%;
      }
      nav .menu li a{
          width:100%;
          height:40px;
          justify-content: center;
          align-items: center;
          margin:0px;
          padding: 25px;
          border:1px solid rgba(38,38,38,0.03);
      }
      nav .menu-icon{
          cursor:pointer;
          float:right;
          padding:28px 20px;
          position:relative;
          user-select: none;
      }
      nav .menu-icon .nav-icon{
          background-color:#333333;
          display:block;
          height:2px;
          position:relative;
          transition: background 0.2s ease-out;
          width:18px;
      }
      nav .menu-icon .nav-icon:before,
      nav .menu-icon .nav-icon:after{
          background:#333;
          content:'';
          display:block;
          height:100%;
          position:absolute;
          transition:all ease-out 0.2s;
          width:100%;
      }
      nav .menu-icon .nav-icon:before{
          top:5px;
      }
      nav .menu-icon .nav-icon:after{
          top:-5px;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon{
          background:transparent;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
          transform: rotate(-45deg);
          top:0;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
          transform: rotate(45deg);
          top:0;
      }
      nav .menu-btn{
          display:none;
      }
      nav .menu-btn:checked ~ .menu{
          display:block;
      }}
      @media(max-width:400px){
          .s-box{
              width: 100%;
              height:400px;
          }
      }